In [1]:
import imdb
import pandas as pd

movies=pd.read_csv('csvmovie.csv')

In [2]:
moviesDB=imdb.IMDb()

In [3]:
movies=pd.read_csv('csvmovie.csv')

In [4]:
movies

                                               Movies
0                                        Joker (2019)
1                                    Spotlight (2015)
2    Three Billboards Outside Ebbing, Missouri (2017)
3                                    Lady Bird (2017)
4                                    The Witch (2015)
..                                                ...
176                                   Dogtooth (2009)
177                               The  Lobster (2015)
178               The Killing of a Sacred Deer (2017)
179                              The Favourite (2018)
180                                       Alps (2011)

[181 rows x 1 columns]

In [5]:
movies['ID']='tt'

In [6]:
for movie in movies['Movies']:
    s_movies=moviesDB.search_movie(movie)  
    try:
        asli_movie=s_movies[0]
    except:
            pass
    title=asli_movie['title']
    ID=asli_movie.getID()
    movies.loc[movies.Movies==movie,'ID']='tt'+ID

In [7]:
movies

                                               Movies         ID
0                                        Joker (2019)  tt7286456
1                                    Spotlight (2015)  tt1895587
2    Three Billboards Outside Ebbing, Missouri (2017)  tt5027774
3                                    Lady Bird (2017)  tt4925292
4                                    The Witch (2015)  tt4263482
..                                                ...        ...
176                                   Dogtooth (2009)  tt1379182
177                               The  Lobster (2015)  tt3464902
178               The Killing of a Sacred Deer (2017)  tt5715874
179                              The Favourite (2018)  tt5083738
180                                       Alps (2011)  tt1859446

[181 rows x 2 columns]

In [8]:
movies.to_csv('withID.csv')